/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --header-text-color: #000028;
  --header-color: #db00ff;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --hidden-element: block;
  --menu-outline: 1px solid rgba(255, 0, 112, 0.4);
  --title-color: #ff0070;
  --block-title-color: #000028;
}