
.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --header-color: #ffc2e6;
  --main-font: 'IBM Plex mono', monospace;
  --focus-color: #ff0070;
  --menu-color: #353430;
  --hidden-element: none;
  --menu-outline: 1px solid rgba(50, 49, 45, 0.4);
  --title-color: #353430;
  --block-title-color: #353430;
  --background: url(../images/cover-image-light.png);
}
