/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  margin: 0;
  background-color: var(--bg-color);
  background-image: var(--background);
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-color);
}

a:focus,
button:focus {
  outline: none;
}

button:disabled {
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--menu-color);
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  line-height: 100%;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4)
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone::before {
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
  bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  left: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  margin-bottom: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.header__theme-menu {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  grid-row: 2;
}

.header_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
}

.text-header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-self: center;
}

.content__title-header {
  grid-row: 2;
  width: 100%;
}

.content {
  padding: 0 clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block:not(:last-of-type) {
  margin-bottom: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);;
}

.block__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__main-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__title {
  font-family: var(--main-font);
  color: var(--title-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
}

.content__block-title {
  font-family: var(--main-font);
  color: var(--block-title-color);
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
}

.content-text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1,8px;
  line-height: 130%;
}

.content__paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advice_title {
  font-weight: normal;
  color: var(--block-title-color);
  letter-spacing: 1px;
  line-height: 131%;
}

.advice-text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1,8px;
  line-height: 131%;
}

.content-images {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  margin-top: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header_footer {
  text-align: center;
  grid-row: 2;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 500px) {
  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header_footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .text-header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .content__title-header {
    grid-row: 2;
    grid-column: 2;
  }

  .two-columns__block {
    display: grid;
    grid-template-columns: max(236px) 2fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .content-why {
    grid-column: 1;
  }

  .content-text-why {
    grid-column: 2;
  }

  .content-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max(192px) max(230px) max(318px);
    gap: 20px;
  }

  .image_sunset {
    grid-column: span 2;
  }

  .image_ice-cream {
    grid-row: span 2;
  }

  .image_tape {
    grid-row: span 2;
    grid-column: 1;
  }

  .image_street {
    grid-column: span 2;
  }
}

@media (width >= 900px) {
  .header__theme-menu {
    display: grid;
    grid-template-rows: 1fr;
  }
  
  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    gap: 10px;
    grid-row: 1;
  }

  .two-columns__block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }

  .content-why {
    grid-column: 1;
  }

  .content-text-why {
    grid-column: 2;
  }

  .content-images {
    grid-template-rows: max(260px) max(315px) max(428px);
  }

  .three-columns__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
